body {
  font-family: 'Roboto', serif;
  background-color: #f0eef2;
}

.container {
  max-width: 100%;
}

.content {
  min-height: 100vh;
  background-color: rgb(235, 236, 239);
}

.content p {
  margin-bottom: 1.25rem;
}

.content h2 {
  margin-top: 3rem;
}

.content h4 {
  margin-top: 3rem;
}

.content .link-right {
  float: right;
}

.card {
  border-radius: 6px;
}

.sidebar {
  color: rgb(235, 236, 239);
  background-color: rgb(35, 41, 107);
}

.sidebar .card {
  background-color: transparent;
  border: none;
}

.sidebar .card .card-title {
  color: rgb(235, 236, 239);
  font-weight: 700;
}

.sidebar .card .card-subtitle {
  color: rgb(235, 236, 239);
  font-weight: 700;
  font-size: 12px;
}

.sidebar .card .card-text {
  color: rgb(235, 236, 239);
  font-weight: 700;
  margin-top: 10px;
  font-size: 14px;
}

.post {
  background-color: rgb(235, 236, 239);
}

.post .card-title a {
  color: rgb(35, 41, 107);
  font-weight: bolder;
}

.post .card-footer {
  background-color: rgb(235, 236, 239);
  border: transparent;
}

.post .card-text {
  margin-top: 10px;
  font-size: 16px;
}

.post .card-subtitle {
  color: rgb(52, 92, 150);
  margin-bottom: 5px;
}

.post p {
  color: rgb(24, 28, 67);
}

.post .btn {
  background-color: #345f95;
  color: white;
}

#backToTop {
  position: fixed;
  right: 5px;
  bottom: 20px;
  font-size: 40px !important;
  opacity: 1;
  z-index: 1000;
  color: #345f95;
}

#backToTop:hover {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .sidebar {
    height: auto;
  }

  .content {
    min-height: auto;
  }
}
